{% extends 'base.html.twig' %}

{% block title %} Добро пожаловать! {% endblock %}

{% block content %}
    <p> <font size="6" color="gray" > <i>  Добро пожаловать в систему исследования инновационности нефтегазовых компаний!  </i> </font></p>
    <br>
    <p align="justify"> <font size="4"  > Вы можете добавлять информацию о компании и ее показателях, удалять эту информацию, воспользоваться поиском,
            а также посчитать коэффициенты инновационности компании и построить диаграммы по необходимым показателям компании, подразделения и сотрудника.
    <p align="justify"> Для того, чтобы воспользоваться этими возможностями необходимо перейти на соответствующий раздел с помощью кнопок меню, расположенного вверху экрана. </p> </font> </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p> <font size="5" color="#696969" > <i> <b> Приятного использования </b> </i> </font> </p>
{% endblock %}
